{
  "comments": false,
  "env": {
    "admin": {
      "presets": [
        ["env", {
          "targets": { "node": 7 }
        }],
        "stage-0"
      ]
    }
  },
  "plugins": ["transform-runtime"]
}
